[submodule "git_submodules/PN532"]
	path = git_submodules/PN532
	url = git@github.com:elechouse/PN532.git
[submodule "git_submodules/arduino-serial"]
	path = git_submodules/arduino-serial
	url = git@github.com:todbot/arduino-serial.git
